<%= form_with(theme: nil, url: { controller: 'messages', action: 'create', chat_id: @chat.id }, id: 'chat_form', class: 'box') do |f| %>
  <div class="field">
    <%= f.text_area :content, autofocus: true, placeholder: '有什么我能帮您的么？', class: 'textarea is-borderless' %>
  </div>
  <div class="has-block-right">
    <%= button_tag class: 'button' do %>
      <span class="icon">
        <i class="fa-solid fa-xl fa-paper-plane"></i>
      </span>
    <% end %>
  </div>
<% end %>