<div class="has-page py-3">
  <div id="chat_box" class="flex-grow-1 p-3 overflow-y-auto">
    <%= render partial: 'message', collection: @messages.reverse, as: :model %>
  </div>
  <%= render 'message_form' %>
</div>

