<div
  data-controller="sse"
  data-sse-id-value="<%= model.id %>"
  data-sse-url-value="<%= url_for(action: 'show', id: model.id) %>"
  class="media is-fit"
>
  <div class="media-left">
    <%= image_tag 'avatar.png', class: 'image is-32x32' %>
  </div>
  <div id="receive_<%= model.id %>" class="media-content"></div>
</div>