<div>
  <dt><%= OneAi::AppModel.human_attribute_name(:name) %></dt>
  <dd><%= @app_model.name %></dd>
</div>
<div>
  <dt><%= OneAi::AppModel.human_attribute_name(:default) %></dt>
  <dd><%= @app_model.default %></dd>
</div>
